name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'yoonbae81/ytcapt' # Only run on the main repo
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Execute remote deployment script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT || 22 }}
          script: |
            cd ~/ytcapt
            bash scripts/deploy.sh
